/* element selectors */
body {
   font-family: Helvetica;
}

header {
   background-image: url(../images/pattern.webp);
   opacity: .5;
}

h1, h2 {
   font-weight: bold;
}

h2 {
   font-size: 32px;
   color: white;
}

a {
   color: blue;
   font-weight: bold;
}


/* nested element selectors */
header h1 {
   font-size: 100px;
   color: khaki;
   text-align: center;
}


/* chained selectors */


h2.green {
   background-color: mediumspringgreen;
}

h2.red {
   background-color: lightcoral;
}

h2.blue {
   background-color: skyblue;
}

